@import url('https://fonts.googleapis.com/css2?family=Prata&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&family=Story+Script&display=swap');
@import "tailwindcss";

a.active hr{
  display: block;
}

*{
  font-family: "Outfit", sans-serif;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  display: none !important;
}


@media (max-width:640px) {
  a.active{
      background-color: black;
      color: white;
  }
}